@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600');
@import url('https://fonts.bunny.net/css?family=barlow:400,500&display=swap');

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 50px #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
body {
  background: black;
  background-size: contain;
  background-attachment: fixed;
  font-family: Consolas, monaco, monospace;
  margin: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 97%;
  margin: auto;
  opacity: 0;
}
#myVideo {
  position: relative;
  min-height: 100vh;
  width: 99vw;
  filter: grayscale(0.3);
  z-index: -2;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}
.vidCover {
  position: absolute;
  z-index: -1;
  min-height: 100%;
  width: 100%;
  content: '';
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 1, 0),
    rgba(0, 0, 1, 0.3),
    rgba(0, 0, 1, 0.4),
    rgba(0, 0, 1, 0.5),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}
.body {
  margin: 7vw;
  font-size: larger;
  color: white;
}
.body-elements {
  padding-top: 25vh;
  margin-bottom: 10vh;
  transition: transform 1s, opacity 1s;
  min-height: 100vh;
}
.headerEl {
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
  backdrop-filter: blur(10px);
}
#introbox {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
#introduction {
  padding-top: 0vw;
  width: 70%;
}
.profile-photo img {
  height: fit-content;
}
.profile-photo {
  display: block;
  width: 30%;
  text-align: center;
  align-self: self-end;
  margin: auto;
  margin-top: -13vh;
}
.name_demo {
  font-size: 8vh;
  margin: 0px;
  color: white;
}
#name_demo2 {
  font-weight: bolder;
  color: red;
}
.iam {
  color: white;
  padding-right: 15px;
  font-family: sans-serif;
}
.text {
  font-family: sans-serif;
  color: rgb(255, 30, 0);
}
.intro-container {
  display: flex;
  font-size: 6vh;
  font-weight: bolder;
}
#contacts {
  margin-bottom: 0vw;
}
.body h1 {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 1vw;
  border: 6px double black;
  border-radius: 3rem;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: max-content;
  font-size: xxx-large;
}
.body h2 {
  text-decoration: underline;
  font-size: 1.7em;
}
.education-list-element,
.experience-list-element {
  list-style-type: none;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 5vh;
  width: 70%;
  outline: 3px solid black;
  outline-offset: -10px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px white;
  background-color: rgba(242, 233, 233, 0.1);
  backdrop-filter: blur(2px);
}
.education-list-table,
.experience-list-table {
  width: 100%;
  line-height: normal;
}
.About-me {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin: auto;
}
.About-me-text {
  display: block;
  width: 70%;
  padding-left: 10vw;
  text-align: justify;
}
.About-me-photo-elements {
  display: block;
  width: 30%;
  text-align: center;
}
.About-me-photo {
  width: 25vw;
  height: auto;
  border-radius: 50%;
  margin-top: 15%;
}

.lazy-img {
  filter: blur(5px);
}

.project-status-completed,
.project-status-developing {
  background-color: green;
  border-radius: 10rem;
  width: fit-content;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: auto;
  margin-right: 0px;
}
.project-status-developing {
  background-color: red;
}

.project-link {
  display: block;
  background-color: rgba(14, 202, 20, 0.6);
  width: fit-content;
  border: 5px double black;
  color: black;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-right: 0px;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.project-link:hover {
  transform: scale(1.2);
}
.github-link {
  background-color: rgba(255, 0, 0, 0.6);
}

.project {
  margin: auto;
  margin-top: 70px;
  width: 90%;
}
.project-head table {
  width: 100%;
}
.project-ref {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.techStack {
  display: flex;
  flex-direction: column;
  border: 3px solid wheat;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigations li input[type='button'] {
  text-decoration: none;
  color: wheat;
  background: transparent;
  border: none;
  font-size: 2vw;
  transition: transform 0.5s ease;
}
.navigations li input[type='button']:hover {
  color: white;
  transform: scale(1.2);
  box-shadow: 0px 5px 0px -2px red;
  cursor: pointer;
}
.navigations li {
  margin: 1.5vw;
  margin-bottom: 0%;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.7vw;
  padding: 5px;
  transition: all 150ms ease;
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  z-index: 4;
  margin-top: -1vw;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  border: none;
  outline: none;
  background-color: rgba(35, 8, 8, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 3vw;
}

#myBtn:hover {
  color: green;
}

.word {
  margin: auto;
  /* color: white; */
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.social {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

.social a {
  text-decoration: none;
  color: white;
  transition: transform 0.5s ease;
}
.social a:hover {
  color: red;
  transform: scale(1.2);
  text-shadow: 0vh 0vh 1vh red;
}

.button-ref {
  background-color: rgb(206, 29, 5);
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 70px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.button-ref:hover {
  opacity: 0.9;
}

.message-me {
  display: block;
  width: fit-content;
  box-shadow: 0px 0px 10px white;
  border-radius: 20px;
  margin: auto;
  padding: 3vh;
  margin-bottom: 10vh;
}
.message-me h1 {
  font-size: x-large;
  border: none;
  border-radius: 0px;
  margin: auto;
  margin-bottom: 3vh;
  border-radius: 30px;
}
.message-me input {
  height: 7vh;
}
.message-me textarea {
  height: 150px;
}
.message-me input,
textarea {
  backdrop-filter: blur(5px);
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 40vw;
}
.message-me input[type='submit'] {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 3vh;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: transform 0.5s ease;
  width: 100%;
}
.message-me input[type='submit']:hover {
  background-color: rgba(255, 0, 0, 0.9);
  transform: scale(1.1);
  cursor: pointer;
}

.colored-text {
  color: red;
}

#skills ul {
  list-style: none;
  font-size: 4vh;
}
#skills ul li {
  margin: 7vh;
}

p {
  font-size: 4vh;
  color: white;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-spinner {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.hidden {
  /* display: none; */
  opacity: 0.1;
}

#content {
  position: relative;
  display: block;
  z-index: 4;
}

.mobile {
  display: none;
}

.mobile-navigations {
  display: none;
}
.skillcolor {
  color: wheat;
}
.skillcolor a {
  text-decoration: none;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
  }
  .headerEl {
    font-size: 10vw;
    -webkit-text-stroke: unset;
    backdrop-filter: blur(20px);
  }
  #myBtn {
    font-size: 50px;
  }
  #myBtn:hover {
    color: white;
  }
  .mobile {
    display: block;
  }
  #myVideo {
    position: relative;
    min-height: 100vh;
    width: unset;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
  .message-me input,
  textarea {
    width: 100%;
    padding: 0px;
    padding-left: 5px;
    height: 5vh;
  }
  .education-list-element,
  .experience-list-element {
    width: fit-content;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: center;
  }
  .education-list-element h2,
  .experience-list-element h2 {
    font-size: unset;
  }
  .education-list-table,
  .experience-list-table {
    line-height: unset;
  }
  .education-list-table tr,
  .experience-list-table tr {
    display: block;
    float: left;
  }
  .education-list-table th,
  .education-list-table td,
  .experience-list-table th,
  .experience-list-table td {
    display: block;
  }
  #introbox {
    margin-top: 0vh;
    flex-direction: column-reverse;
  }
  #introduction {
    margin: auto;
    margin-top: 30px;
    margin-left: 0vw;
    width: 100%;
  }
  .intro-container {
    font-size: 20px;
  }
  .name_demo {
    font-size: 30px;
  }
  .profile-photo {
    width: 80%;
    margin-top: 0vh;
  }
  .desktop {
    display: none;
  }
  #demoMobile {
    font-size: 30px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color: red;
  }
  p {
    font-size: 20px;
  }
  .body h1 {
    font-size: xx-large;
    padding: 15px;
  }
  .body-elements {
    padding-top: 0px;
  }
  #skills ul {
    list-style: none;
    font-size: 20px;
  }
  #skills ul li {
    margin: 10px;
    margin-left: -25px;
  }
  .navigations {
    display: none;
  }

  .mobile-navigations span {
    top: 1;
    position: fixed;
  }
  .mobile-navigations {
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .mobile-navigations li {
    margin: 15px;
    margin-bottom: 0%;
    list-style: none;
    text-transform: capitalize;
    font-size: 30px;
    padding: 5px;
  }
  .mobile-navigations ul {
    padding: 0;
    list-style-type: none;
  }
  .mobile-navigations li input[type='button'] {
    color: white;
    background: transparent;
    border: none;
    font-size: xx-large;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input[type='checkbox'] {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: white;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menuToggle input:checked ~ .mobile-navigation {
    transform: translateX(100px);
  }

  .mobile-navigations {
    display: block;
    position: fixed;
    width: fit-content;
    height: 100vh;
    margin-top: -5vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px red;
    padding: 50px;
    padding-top: 30%;
    backdrop-filter: blur(20px);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #mobile-navigations li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .About-me {
    display: flex;
    flex-direction: column-reverse;
  }
  .About-me-text {
    width: 100%;
    margin-top: 40px;
    padding-left: 0vw;
  }
  .About-me-photo-elements {
    width: 100%;
  }
  .About-me-photo {
    width: 100%;
  }
  .social {
    width: 100%;
    font-size: 40px;
  }
  .button-ref {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: fit-content;
    transform: unset;
  }
  .button-ref:hover {
    opacity: unset;
  }
  .btnEl {
    padding: 0px;
  }
  .project-head table tr {
    display: block;
    float: left;
  }
  .project-head table td {
    display: block;
  }
  .project-status-completed {
    margin-left: 0px;
  }
  .project-ref {
    flex-direction: column;
  }
  .project-link {
    margin-left: 0px;
    margin-right: unset;
  }
  .project-link:hover {
    transform: none;
  }
  .social a:hover {
    color: white;
    transform: none;
    text-shadow: 0vh 0vh 0vh red;
  }
}

/* Desktops and laptops ----------- */
/* Default styles */

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  .body {
    margin: 7vw;
  }
}
